.body {
    /* box-shadow: 0px 0px 3px 3px lightgray; */
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    padding: 50px;
}

.btn-outline-success {

    margin-right: 5px;

}

.nav-item:hover {

    
}

.logout-btn {

    float: left;

}