.login-form-div {

    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    box-shadow: 0px 0px 3px 3px lightgray;
    padding: 100px;

}

.form-input {

    max-width: 50%;
    min-width: 50%;
    margin: 0 auto;
    text-align: center;

}

.form-input:focus {

    background-color: rgba(211, 211, 211, 0.212);

}

.alert-danger {

    margin-top: 15px;

}