con-div {

    margin-top: 50px;

}

.group-name-div {

    padding: 20px;
    text-align: center;

}

.member-list-div {

    padding: 20px;
    text-align: center;

}

.add-member-div {

    padding: 20px;
    text-align: center;

}

.progress-row {

    margin-top: 0.5rem;

}

.progress-text {

    text-align: center;
    margin: 0.5rem;

}

.progress {

    width: 98%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;

}

.info-header {

    text-align: center;
    padding:0.5rem;
    width: 100%;

}

.info-col {

    margin: 1rem;
    
}

.info-list {
    width: 40rem;
    min-width: 18rem;
    max-width: 60rem;
    margin: 1rem;
}

.info-btn {

    margin: 1rem;

}

.form {
    padding: 1rem;
}

.submit-btn {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.align-wth-txt {
    margin-top: 1rem;
}

.main-col {
    width: 70%;
}

.col-form-label {
    text-align: center;
}

.input-area-large {
    width: 50%
}

.list-group-item {

    text-align: center;

}

.sidebar {
    width: 0%;
}