.con-div {

    margin-top: 50px;

}

.group-name-div {

    padding: 20px;
    text-align: center;

}

.member-list-div {

    padding: 20px;
    text-align: center;

}

.add-member-div {

    padding: 20px;
    text-align: center;

}