.btn-row {

    padding: 50px

}

.form-group-row {

    width: 700px;
    text-align: center;
    /* white-space: nowrap;     */
    padding: 12px;
    padding-bottom: 25px;

}

.btn-col {

    margin-top: 20px;

}

.btn-add-lec {

    margin-top: 20px;

}

.alert-danger {

    margin-top: 20px;

}

.email-suc-fail {

    margin-top: 20px;

}