.invite-container {

    padding: 10px;
    margin-top: 50px;

}

.invite-row {

    padding: 10px;
    text-align: center;

}

.lbl-col {

    padding: 10px;
    margin: 6px;
    white-space: nowrap;

}


.input-col {

    padding: 10px;
    margin-top: 6px;
    padding-bottom: 15px;
    width: 700px;

}

.form-input {

    width: 100%;

}

.add-email-col {

    padding: 10px;
    margin: 6px;

}

.add-member-col {

    margin-top: 20px;
    padding: 10px;
    
}

.add-more-row {

    margin-top: -20px;   

}