.group-title-div {

    text-align: center;

}

.group-list-div {
    
    padding: 20px;

}

.row-div {
    
    margin: 20px;
    /* box-shadow: 0px 0px 5px 5px rgba(87, 87, 87, 0.37); */
    padding: 10px;

}

.group-name-div {
    
    max-width: 200px;
    min-width: 200px;
    align-self: center;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.group-desc-div {
    
    max-width: 800px;
    min-width: 600px;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;

}

.btn-div {

    align-self: center;
    max-width: 150px;
    min-width: 150px;
    
}

.create-group-btn {

    margin-left: 40%;
    margin-right: 60%;

}

.create-group-btn2 {

    margin-left: 47%;
    margin-right: 53%;

}

.create-group-form-div {

    padding: 20px;
    margin: 20px;

}

.form-div {

    margin: 20px;
    width: 90%;
    
}

.form-input {

    width: 100%;

}

.text-area {

    width: 100%;
    
}

.email-suc-fail {

    text-align: center;

}